Django>=4.2.16,<7.0
django-allauth==65.17.0
channels==4.0.0
daphne==4.0.0
channels-redis==4.1.0
Pillow==10.0.1
python-decouple==3.8
django-environ==0.10.0
django-extensions==3.2.3
crispy-bootstrap3==24.2.0
crispy-forms==2.14
whitenoise==6.0.0
gunicorn==21.2.0
psycopg2-binary==2.9.6
djangorestframework==3.14.0
celery==5.3.4
redis==4.5.5
flower==2.0.1
